section{
    border: 2px solid blueviolet;
    height: 200px;
    width: 400px;
    margin: 60px;
    position: relative;
}
div{
    background-color: red;
    height: 80px;
    width: 100px;

    /* position: relative;
    left: 50px;
    top: 50px; */
    /* position: absolute;
    top: 20px;
    left: 1px; */
    position: absolute;
    top: 0px;
    left: 50px;
}