/* span{
    background-color: red;
} 
 div{
    background-color: red;
 } 
  p{
    background-color: red;
  } */
   /* section{
    background-color: red;
   } */
    /* form{
        background-color: red;
    } */
     /* button{
        background-color: red;
     } */
      /* label{
        background-color: red;
      } */
       /* input{
        background-color: red;
       } */
        /* textarea{
            background-color: red;
        } */
        /* a{
            background-color: red;
        } */
         li{
            background-color: red;
         }
          /* marquee{
            background-color: red;
          } */